DATABASE_URL=""

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_FROM=""
NEXTAUTH_SECRET=""

NEXT_PUBLIC_APP_URL=""

STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""